
<form method="post" action="">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Buscar</button>
</form>

{% if resultados %}
    <h2>Datos del Cliente</h2>
    <ul>
        {% for cliente in resultados %}
            <li>Cliente ID: {{ cliente.customer_id }}, Nombre: {{ cliente.customer_name }}</li>
        {% endfor %}
    </ul>

    {% if cuentas_cliente %}
        <h2>Cuentas del Cliente</h2>
        <ul>
            {% for cuenta in cuentas_cliente %}
                <li>Cuenta ID: {{ cuenta.account_id }}, Saldo: {{ cuenta.balance }}, IBAN: {{ cuenta.iban }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
        