<!DOCTYPE html>
<html>
<head>
    <title>formulario</title>
</head>
<body>
    <h1>LOGIN</h1>

    <br>

    <form action="" method="post">
        {% csrf_token %}
    
        <input type="text" name="username" id="" placeholder="Nombre del usuario">
        <br>
        <input type="password" name="password" id="" placeholder="contraseña">
        <br>
        <button type="submit">Ingresar a prestamos</button>
    </form>

</body>
</html>
{% comment %} usuario:usuario {% endcomment %}
{% comment %} email address:correo@correo.com {% endcomment %}
{% comment %} contraseña:123 {% endcomment %}